.container {
    border: 5px solid #ffcc5c;
    display: flex;
    /* justify-content: flex-end; */
    /* flex-direction: row; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
}


.home {
    /* search is now twice as wide */
    flex: 1;
}

.logout {
    /* search is now twice as wide */
    flex: 1;
}