body {
    background-color: blanchedalmond;
    /* background-image: url(../img/bg.png); */
    color: black;
    font-size: 24px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

}


h1 {
    font: size 70px;
    color: black;

}

p {
    margin-top: 0px;
    margin-bottom: 15px;
    line-height: 1.4;
    background-color: darkkhaki;
    clear: both;
}

.red-box {
    height: 500px;
    width: 500px;
    background-color: crimson;
    float: left;
    /* padding: 128px; */
}

.blue-box {
    height: 400px;
    width: 700px;
    background-color: cadetblue;
    float: right;
    /* padding: 128px; */
}

img {
    float: left;
    margin-right: 24px;
    margin-left: 24px;
}